/* font-family: "Roboto", sans-serif; */
/* font-family: "Raleway", sans-serif; */
body{
    font-family: "Roboto", sans-serif;
    color:#2e2f42;
    background-color:#fff;
}
a{
    color: inherit;
    text-decoration: none;
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
/* #region header */
.page-header{
background-color:#fff;
}
.logo {

    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42; 
}
.accent {
    color: #4D5AE5;
}
.page-nav{
font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.nav-link{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#2e2f42;
}
.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}
.contact-link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.contact-link:hover,
.contact-link:focus {
    color: #404bbf;
}
.social-list{
    font-family: "Roboto",
        sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    font-style: normal;
}

/* #endregion header */
/* #region main */

/* #hero section */
.hero{
    background-color: #2e2f42;
    text-align: center;
}
.hero-title{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
}

.hero-button{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4d5ae5;
    cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404bbf;
}
/* #endhero section */
h2{
    font-weight: 700;
    color:#2e2f42;
    font-size: 36px;
    letter-spacing: 0.02em;
    text-align:center;
    line-height: 1.11;
}
h3{
    color:#2e2f42;
    font-size: 20px;
    letter-spacing: 0.02em;
    font-weight: 500;
    line-height: 1.2;
}
p{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 400;
    color:#434455;
}
.team-section{
    background-color:#F4F4FD;
}
.team-member{
    background-color:#fff;
}
.team-title{
    text-align: center;
}
.team-text{
    text-align: center;
}
/* #endregion main */
/* footer */
footer{
    background-color: #2e2f42;
    color: #f4f4f4;
    text-align:left;
}
.logo-footer{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd; 
}
.footer-text{
    color:#F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 400;
}