/* font-family: "Roboto", sans-serif; */
/* font-family: "Raleway", sans-serif; */
body{
    font-family: "Roboto", sans-serif;
    color:#2e2f42;
}
a{
    color: inherit;
    text-decoration: none;
}
ul{
    list-style-type: none;
    padding: 0%;
}
/* #region header */
.page-header{

}
.logo {

    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42; 
}
.accent {
    color: #4D5AE5;
}
.page-nav{
font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.nav-list{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#2e2f42;
}
.nav-list-item:hover,
.nav-list-item:focus,
.nav-list-item:active{
    color:#404BBF
}

.social-list{
    font-family: "Roboto",
        sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    font-style: normal;
}
.social-list-item:hover,
.social-list-item:focus,
.social-list-item:active{
    color: #404BBF;
}
/* #endregion header */
/* #region main */

/* #hero section */
.hero{
    background-color: #2e2f42;
    min-height: 600px;
    /* высота блока */
    background: #2b2e42;
    /* фон как на фото */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* центр по вертикали */
    align-items: center;
    /* центр по горизонтали */
    text-align: cente   
}
.hero-title{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
}
.hero-button{
    background-color:#4D5AE5;
    color: #fff;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 10px;
    border-radius: 4px;
    padding: 16px 32px;
    box-shadow: 0, 4px, 4px, 0, rgba(0, 0, 0, 0.15);
    cursor: pointer;
}
.hero-button:hover,
.hero-button:active{
    background-color:#404BBF;
    color: #fff
}
/* #endhero section */
h2{
    color:#2e2f42;
    font-style: bold;
    font-size: 36px;
    letter-spacing: 0.02em;
}
h3{
    color:#2e2f42;
    font-style: medium;
    font-size: 20px;
    letter-spacing: 0.02em;
}
p{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    font-style: normal;
}
.team-section{
    background-color:#F4F4FD;
}
.team-member{
    background-color:#fff;
}
.team-title{
    text-align: center;
}
.team-text{
    text-align: center;
}
/* #endregion main */
/* footer */
footer{
    background-color: #2e2f42;
    height: 112px;
    color:#fff;
    align-items: flex-end;
    text-align:left;
}
.logo-footer{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #fff; 
}